body {
  text-align: center;
  font-family: "Roboto", monospace;
  background-color: #ccccff;
}



h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 2%;
}



h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
  border-style: solid;
  padding: 10px;
  background-color: white;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
